<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LingoTowns Story</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2.2.2/dist/flickity.css"
    />
    <link rel="stylesheet" href="/story/style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="screen">
      <div class="carousel">
        <div class="page sky">
          <div class="story">
            <div class="background-wrap" style="height: 70px">
              <div class="x2">
                <div class="cloud"></div>
              </div>

              <div class="x3">
                <div class="cloud"></div>
              </div>
            </div>

            <div class="box-test" style="visibility: hidden">
              <div class="shining-lights-container">
                <div class="rotate-light">
                  <div class="shining-light-left"></div>
                </div>
              </div>
            </div>

            <div class="player">
              <lottie-player
                src="/story/idlecharac.json"
                background="transparent"
                speed="1"
                style="width: 270px; height: 270px"
                autoplay
                loop
              ></lottie-player>
            </div>

            <div class="future-people" style="visibility: hidden">
              <div class="player">
                <lottie-player
                  src="/story/futurecharac1idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px"
                  autoplay
                  loop
                ></lottie-player>
              </div>

              <div class="player">
                <lottie-player
                  src="/story/futurecharac2idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px; margin-left: -50px"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>
            <div class="grassbloc">
              <div class="bubble-small">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                    "
                  >
                    Player
                  </h5>
                  <p class="typewriter" style="color: black">Hmm... There isn't much to do out here...</p>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="page sky">
          <div class="story">
            <div class="background-wrap" style="height: 70px">
              <div class="x2">
                <div class="cloud"></div>
              </div>

              <div class="x3">
                <div class="cloud"></div>
              </div>
            </div>

            <div class="box-test">
              <div class="shining-lights-container">
                <div class="rotate-light">
                  <div class="shining-light-left"></div>
                </div>
              </div>
            </div>

            <div class="player">
              <lottie-player
                src="/story/shockedcharac.json"
                background="transparent"
                speed="1"
                style="width: 270px; height: 270px"
                autoplay
                loop
              ></lottie-player>
            </div>

            <div class="future-people">
              <div class="player">
                <lottie-player
                  src="/story/futurecharac1idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px"
                  autoplay
                  loop
                ></lottie-player>
              </div>

              <div class="player">
                <lottie-player
                  src="/story/futurecharac2idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px; margin-left: -50px"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>
            <div class="grassbloc">
              <div class="bubble-small">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                    "
                  >
                    Player
                  </h5>
                  <p class="typewriter" style="color: black">WHOA!!! WHAT IS GOING ON?!</p>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="page sky">
          <div class="story">
            <div class="background-wrap" style="height: 70px">
              <div class="x2">
                <div class="cloud"></div>
              </div>

              <div class="x3">
                <div class="cloud"></div>
              </div>
            </div>

            <div class="box-test" style="visibility: hidden">
              <div class="shining-lights-container">
                <div class="rotate-light">
                  <div class="shining-light-left"></div>
                </div>
              </div>
            </div>

            <div class="player">
              <lottie-player
                src="/story/shockedcharac.json"
                background="transparent"
                speed="1"
                style="width: 270px; height: 270px"
                autoplay
                loop
              ></lottie-player>
            </div>

            <div class="future-people-talk">
              <div class="player">
                <lottie-player
                  src="/story/futurecharac1.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px"
                  autoplay
                  loop
                ></lottie-player>
              </div>

              <div class="player">
                <lottie-player
                  src="/story/futurecharac2idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px; margin-left: -50px"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>
            <div class="grassbloc">
              <div class="bubble-big">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                    "
                  >
                    Player
                  </h5>
                  <p class="typewriter" style="color: black">Greetings! We are scientists from the future. We need your help in learning language from the 21st century as we have lost the knowledge required to translate important documents. </p>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="page sky">

          <div class="story">
            
            <div class="globe">
              <lottie-player
                src="/story/globe.json"
                background="transparent"
                speed="1"
                style="width: 600px; height: 600px"
                autoplay
                loop
              ></lottie-player>
            </div>

            <div class="future-people" style="visibility: hidden">
              <div class="player">
                <lottie-player
                  src="/story/futurecharac1idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px"
                  autoplay
                  loop
                ></lottie-player>
              </div>

              <div class="player">
                <lottie-player
                  src="/story/futurecharac2idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px; margin-left: -50px"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>

            


            <div class="emptybox" >
              
              <div class="bubble-small">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                      margin-left: 20px;
                    "
                  >
                    Future Person
                  </h5>
                  <p class="typewriter" style="color: black">You will travel the future earth to work on these documents in the towns where you will find them, using the knowledge within them to grow crops</p>
                </span>
              </div>
              <div class="bubbleplayer">
                <lottie-player
                  src="/story/futurecharac1.json"
                  background="transparent"
                  speed="1"
                  style="width: 350px; height: 350px; margin-left: -80px; z-index: 0; position: relative; top: -80px;"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>
          </div>
        </div>
        <div class="page sky">
          <div class="story">
            
            <div class="diggingman">
              <lottie-player
                src="/story/diggingman.json"
                background="transparent"
                speed="1"
                style="width: 600px; height: 600px"
                autoplay
                loop
              ></lottie-player>
            </div>

            <div class="future-people" style="visibility: hidden">
              <div class="player">
                <lottie-player
                  src="/story/futurecharac1idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px"
                  autoplay
                  loop
                ></lottie-player>
              </div>

              <div class="player">
                <lottie-player
                  src="/story/futurecharac2idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px; margin-left: -50px"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>

            


            <div class="emptybox" >
              
              <div class="bubble-small">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                      margin-left: 20px;
                    "
                  >
                    Future Person
                  </h5>
                  <p class="typewriter" style="color: black">You will travel the future earth to work on these documents in the towns where you will find them, using the knowledge within them to grow crops</p>
                </span>
              </div>
              <div class="bubbleplayer">
                <lottie-player
                  src="/story/futurecharac1.json"
                  background="transparent"
                  speed="1"
                  style="width: 350px; height: 350px; margin-left: -80px; z-index: 0; position: relative; top: -80px;"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>
          </div>
        </div>
        <div class="page sky">
          <div class="story">
            
            <div class="world">
            <img class="map1" src="map-assets-01.svg">
            <img class="buildings" src="map-assets-02.svg">

            </div>

            <div class="future-people" style="visibility: hidden">
              <div class="player">
                <lottie-player
                  src="/story/futurecharac1idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px"
                  autoplay
                  loop
                ></lottie-player>
              </div>

              <div class="player">
                <lottie-player
                  src="/story/futurecharac2idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px; margin-left: -50px"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>

            


            <div class="emptybox" >
              
              <div class="bubble-small">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                      margin-left: 20px;
                    "
                  >
                    Future Person
                  </h5>
                  <p class="typewriter" style="color: black">You will travel the future earth to work on these documents in the towns where you will find them, using the knowledge within them to grow crops</p>
                </span>
              </div>
              <div class="bubbleplayer">
                <lottie-player
                  src="/story/futurecharac1.json"
                  background="transparent"
                  speed="1"
                  style="width: 350px; height: 350px; margin-left: -80px; z-index: 0; position: relative; top: -80px;"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>
          </div>
        </div>
        <div class="page sky">
          <div class="story">
            
            <div class="world">
            <img class="map1" src="map-assets-01.svg">
            <img class="buildings" src="map-assets-02.svg">

            </div>

            <div class="future-people" style="visibility: hidden">
              <div class="player">
                <lottie-player
                  src="/story/futurecharac1idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px"
                  autoplay
                  loop
                ></lottie-player>
              </div>

              <div class="player">
                <lottie-player
                  src="/story/futurecharac2idle.json"
                  background="transparent"
                  speed="1"
                  style="width: 270px; height: 270px; margin-left: -50px"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>

            


            <div class="emptybox" >
              
              <div class="bubble-small">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                      margin-left: 20px;
                    "
                  >
                    Future Person
                  </h5>
                  <p class="typewriter" style="color: black">You will travel the future earth to work on these documents in the towns where you will find them, using the knowledge within them to grow crops</p>
                </span>
              </div>
              <div class="bubbleplayer">
                <lottie-player
                  src="/story/futurecharac1.json"
                  background="transparent"
                  speed="1"
                  style="width: 350px; height: 350px; margin-left: -80px; z-index: 0; position: relative; top: -80px;"
                  autoplay
                  loop
                ></lottie-player>
              </div>
            </div>
          </div>
        </div>
        <div class="page sky">
          <h1>8</h1>
        </div>
      </div>
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
    <script src="/story/script.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
  </body>
</html>
