<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>LingoTowns Story</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://unpkg.com/flickity@2.0.5/dist/flickity.css'><link rel="stylesheet" href="/story/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="screen">
  <div class="carousel">
    <div class="page sky">
      <div class="story">
        


        
       <div class="background-wrap" style="height: 70px;">
      
          <div class="x2">
              <div class="cloud"></div>
          </div>
      
          <div class="x3">
              <div class="cloud"></div>
          </div>
        </div>

    <div class="box-test" style="visibility: hidden;">
        <div class="shining-lights-container">
            <div class="rotate-light">
              <div class="shining-light-left"></div>
              </div>
            </div>
        </div>


      
      <div class="player">
        <lottie-player src="/story/idlecharac.json" background="transparent" speed="1"
          style="width: 270px; height: 270px;" autoplay loop></lottie-player>
      </div>
      
    <div class="future-people" style="visibility: hidden;">
      <div class="player">
        <lottie-player src="/story/futurecharac1idle.json" background="transparent" speed="1"
          style="width: 270px; height: 270px;" autoplay loop></lottie-player>
      </div>
    

      
      <div class="player">
        <lottie-player src="/story/futurecharac2idle.json" background="transparent" speed="1"
          style="width: 270px; height: 270px; margin-left: -50px ;" autoplay loop></lottie-player>
      </div>
    </div>
      <div class="grassbloc">
        <div class="bubble">
          <span> <h5 style="text-align: left; color: rgb(0, 0, 0); margin-top: -15px;">Player</h5>
           <p style="color: black;" ></p> 
         </span>
      </div>
    </div></div>
    </div>
    <div class="page sky">
      <div class="story">
        


        
        <div class="background-wrap" style="height: 70px;">
       
           <div class="x2">
               <div class="cloud"></div>
           </div>
       
           <div class="x3">
               <div class="cloud"></div>
           </div>
         </div>
 
     <div class="box-test">
         <div class="shining-lights-container">
             <div class="rotate-light">
               <div class="shining-light-left"></div>
               </div>
             </div>
         </div>
 
 
       
       <div class="player">
         <lottie-player src="/story/shockedcharac.json" background="transparent" speed="1"
           style="width: 270px; height: 270px;" autoplay loop></lottie-player>
       </div>
       
     <div class="future-people">
       <div class="player">
         <lottie-player src="/story/futurecharac1idle.json" background="transparent" speed="1"
           style="width: 270px; height: 270px;" autoplay loop></lottie-player>
       </div>
     
 
       
       <div class="player">
         <lottie-player src="/story/futurecharac2idle.json" background="transparent" speed="1"
           style="width: 270px; height: 270px; margin-left: -50px ;" autoplay loop></lottie-player>
       </div>
     </div>
       <div class="grassbloc">
         <div class="bubble">
           <span> <h5 style="text-align: left; color: rgb(0, 0, 0); margin-top: -15px;">Player</h5>
            <p style="color: black;" ></p> 
          </span>
       </div>
     </div></div>
    </div>
    <div class="page sky">
      <div class="story">
        


        
        <div class="background-wrap" style="height: 70px;">
       
           <div class="x2">
               <div class="cloud"></div>
           </div>
       
           <div class="x3">
               <div class="cloud"></div>
           </div>
         </div>
 
     <div class="box-test" style="visibility: hidden;">
         <div class="shining-lights-container">
             <div class="rotate-light">
               <div class="shining-light-left"></div>
               </div>
             </div>
         </div>
 
 
       
       <div class="player">
         <lottie-player src="/story/shockedcharac.json" background="transparent" speed="1"
           style="width: 270px; height: 270px;" autoplay loop></lottie-player>
       </div>
       
     <div class="future-people-talk">
       <div class="player">
         <lottie-player src="/story/futurecharac1.json" background="transparent" speed="1"
           style="width: 270px; height: 270px;" autoplay loop></lottie-player>
       </div>
     
 
       
       <div class="player">
         <lottie-player src="/story/futurecharac2idle.json" background="transparent" speed="1"
           style="width: 270px; height: 270px; margin-left: -50px ;" autoplay loop></lottie-player>
       </div>
     </div>
       <div class="grassbloc">
         <div class="bubble">
           <span> <h5 style="text-align: left; color: rgb(0, 0, 0); margin-top: -15px;">Player</h5>
            <p style="color: black;" ></p> 
          </span>
       </div>
     </div></div>
    </div>
    <div class="page sky">
      <h1>4</h1>
    </div>
    <div class="page sky">
      <h1>5</h1>
    </div>
    <div class="page sky">
      <h1>6</h1>
    </div>
    <div class="page sky">
      <h1>7</h1>
    </div>
    <div class="page sky">
      <h1>8</h1>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://unpkg.com/flickity@2.0.5/dist/flickity.pkgd.min.js'></script><script  src="/story/script.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
</body>
</html>
