<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LingoTowns Story</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2.2.2/dist/flickity.css"
    />
    <link rel="stylesheet" href="/story/style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="screen">
      <div class="carousel">
        <div class="page sky">
          <div class="story">
            

            <div class="scene1">
              <lottie-player
                src="/story/scene2.json"
                background="transparent"
                speed="1"
                style="width: 1000px; height: 1000px; margin-top: -300px;"
                controls
                autoplay
                loop
              ></lottie-player>
            </div>


              
            
              <div class="bubble-small">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                    "
                  >
                    Future character 1
                  </h5>
                  <p class="typewriter" style="color: black">Greetings! We are scientists from the future. The future world has significantly regressed. Luckily, we discovered documents from the 21st century and we need your help in understanding them.</p>
                </span>
              </div>
            
          </div>
        </div>
        <div class="page sky">
          <div class="story">
            <div class="scene1">
              <lottie-player
                src="/story/diggingman.json"
                background="transparent"
                speed="1"
                style="width: 1000px; height: 1000px; margin-top: -300px;"
                autoplay
                controls
                loop
              ></lottie-player>
            </div>

            

            
            
            
              <div class="bubble-small">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                    "
                  >
                    Future character 1
                  </h5>
                  <p class="typewriter" style="color: black"> Those documents are scattered all around our towns. We don't know what they mean but we believe they hold valuable information to help our society progress.   </p>
                </span>
              </div>
        
          </div>
        </div>
        <div class="page sky">
          <div class="story">
            <div class="scene1">
              <lottie-player
                src="/story/scene5.json"
                background="transparent"
                speed="1"
                style="width: 1000px; height: 1000px; margin-top: -300px;"
                autoplay
                controls
                loop
              ></lottie-player>
            </div>

            

            
            
            
              <div class="bubble-small">
                <span>
                  <h5
                    style="
                      text-align: left;
                      color: rgb(0, 0, 0);
                      margin-top: -15px;
                    "
                  >
                    Future character 2
                  </h5>
                  <p class="typewriter" style="color: black"> Will you come and help us understand those documents?  </p>
                </span>
              </div>
        
          </div>
        </div>
        <div class="page sky">
          <div class="story">
            <div class="scene1">
              <lottie-player
                src="/story/scene3.json"
                background="transparent"
                speed="1"
                style="width: 1000px; height: 1000px; margin-top: -300px;"
                autoplay
                loop
                controls
              ></lottie-player>
            </div>
          </div>

          
          </div>
        </div>
        
        

            


            
        
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
    <script src="/story/script.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
  </body>
</html>
