{% extends 'lto_layout.html' %}

{% block page_head %}

     <script src="https://www.googleoptimize.com/optimize.js?id=OPT-MPCCLF3"></script>
     <link rel="stylesheet" href="/css/homepage.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
     <link rel="stylesheet" href="https://use.typekit.net/frj5pjr.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js" integrity="sha512-L6Z/YtIPQ7eU3BProP34WGU5yIRk7tNHk7vaC2dB1Vy1atz6wl9mCkTPPZ2Rn1qPr+vY2mZ9odZLdGYuaBk7dQ==" crossorigin="anonymous"></script>
    <script src="/js/intro.js"></script>
    <script>
        var intro_handler;
 
        $(document).ready(function() {
            intro_handler = new IntroHandler({container: $('header.w3-container #play.lingobannerwrapper')});
            $('.play-now-button').click(function(){ start_intro_animation(); });
        });
 
        function start_intro_animation(){
            var header = $('header.w3-container');
 
            $(header).css({overflow: 'hidden'});
            $('.hide-on-intro-animation').hide();
 
            $(header).find('.lingobanner-img-wrapper').animate({bottom: '-70vh'}, 600, function(){ 
                $(this).remove();
             });
 
            setTimeout(function(){
                $(header).find('.lingobanner-text-wrapper').addClass('minimised');
                $(header).find('.mute-button-wrapper').fadeIn();
 
                $(header).find('.intro-container').show();
                setTimeout(function(){ intro_handler.start_intro(); }, 600); 

            }, 220);
         }
 
    </script>
{% endblock %}
 
{% block page_body %}
     <div id="infoDialog" class="info-dialog">
        <div class="info-text">
            Welcome to LingoTowns. By participating in our online game, you agree that you are over
             the age of 18 and your
             participation is voluntary and can be used for research purposes. The goal
             of this project is to understand player engagement in language learning and linguistic games.
            If you agree to participate, we will collect analytical data based on your interactions in the game. The
            data collected is anonymised upon collection and no personal data is stored. This data may be released
            publicly in the future
            for research purposes. As a user you can decide to end your participation in the study at any moment (no
            minimum participation time is required). You will not be paid for playing our games.
            <br>
            <br>
            This proposal has been reviewed and approved by the QMUL EECS Devolved School Research Ethics Committee.
            In case of questions, contact <a href="f.althani@qmul.ac.uk"
                style="color: rgb(6, 78, 186); text-decoration: underline;">f.althani@qmul.ac.uk</a>
            <div class="button-wrapper"><button id="notAcceptBtn"><a href="#DALI">Do not accept</a></button><button
                    id="acceptBtn">Accept</button></div>
        </div>

    </div>

    <div id="nav-bar-expanded-wrapper" class="nav-bar-expanded-wrapper">
        <div class="nav-bar-expanded">
            <div class="close-wrapper"><button id="close-button" onclick="hideMenu()"><svg id="close-icon"
                        class="close-icon" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m88.854 85.845-33.487-34.785 33.487-34.785c1.8399-1.906 1.8399-4.8604 0-6.7665-1.8399-1.906-4.6919-1.906-6.5318 0l-33.487 34.785-33.487-34.69c-1.8399-1.906-4.6919-1.906-6.5318 0-1.8399 1.906-1.8399 4.8604 0 6.7665l33.487 34.69-33.487 34.785c-1.8399 1.906-1.8399 4.8604 0 6.7665 1.8399 1.906 4.6919 1.906 6.5318 0l33.487-34.785 33.579 34.785c1.8399 1.906 4.6919 1.906 6.5318 0 1.748-1.906 1.748-4.9557-0.092-6.7665z"
                            stroke-width=".93635" />
                    </svg></button></div>
            <div class="menu-items-wrapper">
                <ul>
                    <h5>Menu</h5>
                    <div class="Line-2-Copy-3"></div>
                    <a id="menu-about-link" href="#about">
                        <div class="menu-items">
                            <li>About<img class="menu-next" src="http://phrasefarm.org/img/menu-next.svg"
                                    title="menu next icon"></li>
                        </div>
                    </a>
                    <a id="menu-updates-link" href="#updates">
                        <div class="menu-items">
                            <li>Updates<img class="menu-next" src="http://phrasefarm.org/img/menu-next.svg"
                                    title="menu next icon"></li>
                        </div>
                    </a>
                    <a id="menu-DALI-link" href="#DALI">
                        <div class="menu-items">
                            <li>The Science of DALI<img class="menu-next" src="http://phrasefarm.org/img/menu-next.svg"
                                    title="menu next icon"></li>
                        </div>
                    </a>
                </ul>


            </div>
            <div class="menu-footer">
                <div style="padding-left: 60%; height: 100%; width: 100%; position: relative;">
                    {% if logged_in %}
                    <a id='logout' class="logout-button" href='/logout'>logout</a>
                    {% else %}
                    <a id='logout' class="logout-button"
                        onclick="window.location.href='https://auth.tileattack.com/login?redirect=https://lingotowns.com/play'">login</a>
                    {% endif %}



                </div>
            </div>
         </div>
     </div>
     <div id="overlay" class="overlay" onclick="hideMenu()"></div>
     <a id="back-top-button"></a>
     <header class="w3-container w3-red w3-center">
         <div id="play" class="lingobannerwrapper">
             <div class="lingobanner-text-wrapper">
                <h1 class="w3-jumbo">LingoTowns</h1>
                <p class="w3-xlarge hide-on-intro-animation">Help us with our research in <span class="mobile-break"></span> Natural Language Processing.<br><br>Your fun becomes our data as we uncover<span class="mobile-break"></span>ambiguities in natural expression.</p>
                <div class="button-container hide-on-intro-animation">
                    {% if 'seen_tutorial' in session and session['seen_tutorial'] %}
                        <a href="/play"><button>continue</button></a>
                    {% else %}
                        <a href="https://auth.tileattack.com/login?redirect={{ url_for('homepage', _external=True) }}play"><button class="secondary">login</button></a>
                        <a class="play-now-button"><button>new game</button></a>
                    {% endif %}
                </div>
            </div>
            <div class="intro-container" style="display: none; ">
                <lottie-player class="animation-player animation-player1" src="/intro/scene1.json" background="transparent" count="1" speed="1"></lottie-player>
                <lottie-player class="animation-player animation-player2" src="/intro/scene2.json" background="transparent" count="1" speed="1"></lottie-player>
                <lottie-player class="animation-player animation-player3" src="/story/scene1.json" background="transparent" count="1" speed="1"></lottie-player>
                <lottie-player class="animation-player animation-player4" src="/intro/scene3.json" background="transparent" count="1" speed="1"></lottie-player>
                <div class="dialog-container dialog-container-1">
                    <div class="character-avatar">
                        <lottie-player src="/intro/closeup_larunda.json" background="transparent" speed="1.5"></lottie-player>
                    </div>
                    <div class="character-name">Larunda</div>
                    <div class="dialog-text">Greetings! We are scientists from the future. The future world has significantly regressed. Luckily, we discovered documents from the 21st century and we need your help in understanding them.</div>
                    <div class="progress-indicator">1/3</div>
                    <button class="continue-intro-button">next</button>
                    <button class="skip-intro-button tertiary">skip intro</button>
                </div>
                <div class="dialog-container dialog-container-2">
                    <div class="character-avatar">
                        <lottie-player src="/intro/closeup_echo.json" background="transparent" speed="1.5"></lottie-player>
                    </div>
                    <div class="character-name">Echo</div>
                    <div class="dialog-text">Those documents are scattered all around our towns. We don't know what they mean but we believe they hold valuable information to help our society progress.</div>
                    <div class="progress-indicator">2/3</div>
                    <button class="continue-intro-button">next</button>
                    <button class="skip-intro-button tertiary">skip intro</button>
                </div>
                <div class="dialog-container dialog-container-3">
                    <div class="character-avatar">
                        <lottie-player src="/intro/closeup_larunda.json" background="transparent" speed="1.5"></lottie-player>
                    </div>
                    <div class="character-name">Larunda</div>
                    <div class="dialog-text">Will you come and help us understand those documents?</div>
                    <div class="progress-indicator">3/3</div>
                    <button class="continue-intro-button">Yes</button>
                    <button class="skip-intro-button tertiary">skip intro</button>
                </div>
            </div>
            <div class="mute-button-wrapper" style="display: none;">
                <div class="music-icon">
                    <input type="checkbox" name="un-mute" id="un-mute">
                    <label for="un-mute" class="unmute" >
                        <img src="http://upload.wikimedia.org/wikipedia/commons/3/3f/Mute_Icon.svg" alt="Mute_Icon.svg" title="Turn off sound" style="height: 25px;">
                    </label>
                    <label for="un-mute" class="mute">
                        <img src="http://upload.wikimedia.org/wikipedia/commons/2/21/Speaker_Icon.svg" alt="Speaker_Icon.svg" title="Turn on sound" style="height: 25px; fill:white;">
                    </label>
                 </div>
             </div>

             <div class="lingobanner-img-wrapper">
                 <img class="lingobanner" src="/story/lingobanner.png" alt="banner">
             </div>
         </div>
     </header>
    <div class="container hide-on-intro-animation"> 
         <!-- Second Grid -->
        <div id="about" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
            <div class="w3-content">
                <h1>About</h1>
                <p class="w3-text-grey2">Lingotowns, a new gaming platform targeting language learners developed by the
                    DALI team.
                    Lingotowns provides a unified experience integrating games for multiple aspects of lexical and
                    grammatical experience in a single virtual world, whilst simultaneously collecting judgements. Both
                    Lingotowns and its constituent games are designed to provide more engagement to the players/
                    learners than normal GWAPs. The platform also incorporates knowledge tracing methods ensuring that
                    the players' progress in terms of understanding of grammatical concepts is tracked both at the
                    individual game level and overall.</p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/d3a0i1RkYv0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- First Grid -->
 
    <div id="updates" class="w3-row-padding w3-padding-64 w3-container hide-on-intro-animation">
         <div class="w3-content">
             <div class="w3-twothird">
                 <h1>Updates</h1>
                <div class="twitterfeed">
                    <a class="twitter-timeline" href="https://twitter.com/GamesNlp?ref_src=twsrc%5Etfw">Tweets by
                        GamesNlp</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

            <div class="w3-third w3-center">
            </div>
        </div>
    </div>



    <div id="DALI" class="w3-row-padding w3-padding-64 w3-container hide-on-intro-animation">
        <div class="w3-content">
             <h1>DALI: Disagreements and Language Interpretation</h1>

            <p class="w3-text-grey2">Natural language expressions are supposed to be unambiguous in context. Yet more
                and more examples of use of expressions that are ambiguous in context, yet felicitous and rhetorically
                unmarked, are emerging. In previous work, we demonstrated that ambiguity in anaphoric reference is
                ubiquitous, through the study of disagreements in annotation, that we pioneered in CL. Since then,
                additional cases of ambiguous anaphoric reference have been found; and similar findings have been made
                for other aspects of language interpretation, including wordsense disambiguation, and even
                part-of-speech tagging. Using the Phrase Detectives Game-With-A-Purpose to collect massive amounts of
                judgments online, we found that up to 30% of anaphoric expressions in our data are ambiguous. These
                findings raise a serious challenge for computational linguistics (CL), as assumptions about the
                existence of a single interpretation in context are built in the dominant methodology, that depends on a
                reliably annotated gold standard.
                <br>
                <br>

                The goal of DALI is to tackle this fundamental issue of disagreements in interpretation by using
                computational methods for collecting and analysing such disagreements, some of which already exist but
                have never before been applied in linguistics on a large scale, some we will develop from scratch. First
                of all, we will develop more advanced games-with-a-purpose to collect massive amounts of data about
                anaphora from people playing a game.
                Secondly, we will use Bayesian models of annotation, widely used in epidemiology but not in linguistics,
                to analyse such data and identify genuine ambiguities; doing this for anaphora will require novel
                methods. Third, we will use these data to revisit current theories about anaphoric expressions that do
                not seem to cause infelicitousness when ambiguous. Finally, we intend to develop the first supervised
                approach to anaphora resolution that does not require a gold standard as a blueprint for other areas.
 
             </p>
            <h1 class="w3-margin w3-large">Find out more about DALI <a href="https://dali.eecs.qmul.ac.uk/"
                    style="text-decoration: underline;">here</a></h1>
        </div>

    </div>
    </div>
    <!-- Footer -->
 
    <footer class="footer hide-on-intro-animation">
         <div class="footer-logos">
            <a href="https://erc.europa.eu/" target="_blank"><img src="images/logo_EU.png"></a>
            <a href="https://erc.europa.eu/" target="_blank"><img src="images//logo_ERC.png"></a>
            <a href="https://www.qmul.ac.uk/" class="mobile-hidden" target="_blank"><img class="logoQMUL"
                    src="images/logoQMUL_black.png"></a>
            <a href="https://www.essex.ac.uk/" class="mobile-hidden" target="_blank"><img class="logoEssex"
                    src="images/logoEssex_black.png"></a>
         </div>
        <div class="social-links-container">
             <a class="fa fa-facebook-official w3-hover-opacity" href="https://www.facebook.com/gamesandnlp"></a>
            <a class="fa fa-twitter w3-hover-opacity" href="https://twitter.com/GamesNlp"></a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="/js/homepage.js"></script>
    <script>
        const clickBtn = document.getElementById("dialogBtn");
        const popup = document.getElementById("infoDialog");
        const acceptBtn = document.getElementById("acceptBtn");
        const notAcceptBtn = document.getElementById("notAcceptBtn");

        function setCookie(key, value) {
            document.cookie = key + "=" + value + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        // function openPopup() {
        //     window.location.hash = 'infoDialog';
        //     setCookie("viewed_info_dialog");
        // }

        // window.onload = openPopup;

        acceptBtn.addEventListener('click', () => {
            popup.style.display = 'none';
            setCookie("accepted_info_dialog");
        });
        notAcceptBtn.addEventListener('click', () => {
            popup.style.display = 'none';
        });

        let cookie_consent = getCookie("accepted_info_dialog");
        if (cookie_consent != "") {
            popup.style.display = 'none';
        } else {
            popup.style.display = 'block';
        }

    </script>
{% endblock %}
