<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N7B3K6B');</script>
    <!-- End Google Tag Manager -->
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-MPCCLF3"></script>
    <title>LingoTowns | Home</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-X1Z33FZBD9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X1Z33FZBD9');
    </script> -->
    <!-- <script src="/js/riveted.min.js"></script>
    <script>riveted.init();</script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://use.typekit.net/frj5pjr.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar,
        h1,
        button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor,
        .fa-coffee {
            font-size: 200px
        }

        #logout {
            position: absolute;
            top: 20px;
            left: 20px;
            height: 3em;
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7B3K6B" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->




    <!-- Header -->
    <!-- navbar -->

    <div id="nav-bar-expanded-wrapper" class="nav-bar-expanded-wrapper">
        <div class="nav-bar-expanded">
            <div class="close-wrapper"><button id="close-button" onclick="hideMenu()"><svg id="close-icon"
                        class="close-icon" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m88.854 85.845-33.487-34.785 33.487-34.785c1.8399-1.906 1.8399-4.8604 0-6.7665-1.8399-1.906-4.6919-1.906-6.5318 0l-33.487 34.785-33.487-34.69c-1.8399-1.906-4.6919-1.906-6.5318 0-1.8399 1.906-1.8399 4.8604 0 6.7665l33.487 34.69-33.487 34.785c-1.8399 1.906-1.8399 4.8604 0 6.7665 1.8399 1.906 4.6919 1.906 6.5318 0l33.487-34.785 33.579 34.785c1.8399 1.906 4.6919 1.906 6.5318 0 1.748-1.906 1.748-4.9557-0.092-6.7665z"
                            stroke-width=".93635" />
                    </svg></button></div>
            <div class="menu-items-wrapper">
                <ul>
                    <h5>Menu</h5>
                    <div class="Line-2-Copy-3"></div>
                    <a id="menu-about-link" href="#about">
                        <div class="menu-items">
                            <li>About<img class="menu-next" src="http://phrasefarm.org/img/menu-next.svg"
                                    title="menu next icon"></li>
                        </div>
                    </a>
                    <a id="menu-updates-link" href="#updates">
                        <div class="menu-items">
                            <li>Updates<img class="menu-next" src="http://phrasefarm.org/img/menu-next.svg"
                                    title="menu next icon"></li>
                        </div>
                    </a>
                    <a id="menu-DALI-link" href="#DALI">
                        <div class="menu-items">
                            <li>The Science of DALI<img class="menu-next" src="http://phrasefarm.org/img/menu-next.svg"
                                    title="menu next icon"></li>
                        </div>
                    </a>
                    <!-- <a id="menu-section-link" href="#contact"><div class="menu-items">
                    <li>Contact<img class="menu-next" src="http://phrasefarm.org/img/menu-next.svg" alt="Speaker_Icon.svg"
                        title="menu next icon"></li>
                </div></a> -->
                </ul>


            </div>
            <div class="menu-footer">
                <!-- <p style="float: left; padding-left: 10%;">Guest</p><p style="float: right; padding-right: 15%;">Login</p> -->
                <div style="padding-left: 60%; height: 100%; width: 100%; position: relative;">
                    {% if logged_in %}
                    <a id='logout' class="logout-button" href='/logout'>logout</a>
                    {% else %}
                    <a id='logout' class="logout-button"
                        onclick="window.location.href='https://auth.tileattack.com/login?redirect=https://lingotowns.com/play'">login</a>
                    {% endif %}



                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="overlay" class="overlay" onclick="hideMenu()"></div>
    <div class="nav-bar">
        <div class="menu-wrapper"><button id="menu-button" onclick="showMenu()"><svg id="menu-icon" class="menu-icon"
                    version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <g transform="matrix(1.2076 0 0 1.331 -9.584 -1285.7)">
                        <path
                            d="m16 979.37c-1.6568 0-3 1.3431-3 3 0 1.6568 1.3432 3 3 3h68c1.6568 0 3-1.3432 3-3 0-1.6569-1.3432-3-3-3zm0 21c-1.6568 0-3 1.3431-3 3 0 1.6568 1.3432 3 3 3h68c1.6568 0 3-1.3432 3-3 0-1.6569-1.3432-3-3-3zm0 21c-1.6568 0-3 1.3431-3 3 0 1.6568 1.3432 3 3 3h68c1.6568 0 3-1.3432 3-3 0-1.6569-1.3432-3-3-3z"
                            color="#000000" overflow="visible" style="text-indent:0;text-transform:none" />
                    </g>
                </svg></button></div>
    </div>
    <a id="back-top-button"></a>
    <header class="w3-container w3-red w3-center">
        <div class="lingobannerwrapper">
            <div class="lingobanner-text-wrapper">
                <h1 class="w3-margin w3-jumbo">LingoTowns</h1>
                <p class="w3-xlarge">Help us with our research in Natural Language Processing. Your fun becomes our data
                    as
                    we uncover ambiguities in natural expression.</p>
                <div class="buttoncontainer">
                    <button class="playbutton" onclick="window.location.href='intro'">play</button>
                </div>
            </div>


            <div class="lingobanner-img-wrapper">
                <img class="lingobanner" src="/story/lingobanner.png" alt="banner">
            </div>
        </div>
    </header>
    <div class="container">

        <!-- Second Grid -->
        <div id="about" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
            <div class="w3-content">
                <h1>About</h1>
                <!-- <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5> -->

                <p class="w3-text-grey2">Lingotowns, a new gaming platform targeting language learners developed by the
                    DALI team.
                    Lingotowns provides a unified experience integrating games for multiple aspects of lexical and
                    grammatical experience in a single virtual world, whilst simultaneously collecting judgements. Both
                    Lingotowns and its constituent games are designed to provide more engagement to the players/
                    learners than normal GWAPs. The platform also incorporates knowledge tracing methods ensuring that
                    the players' progress in terms of understanding of grammatical concepts is tracked both at the
                    individual game level and overall.</p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/d3a0i1RkYv0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <!-- <div class="w3-twothird">
                <div class="w3-third w3-center"> 
            </div> -->


        </div>
    </div>
    <!-- First Grid -->

    <div id="updates" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Updates</h1>
                <div class="twitterfeed">
                    <a class="twitter-timeline" href="https://twitter.com/GamesNlp?ref_src=twsrc%5Etfw">Tweets by
                        GamesNlp</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!-- <h5 class="w3-padding-32">11/07/22</h5>
                <ul class="w3-text-grey1">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua</li>
                    <li>Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </li>
                    <li>Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat</li>
                </ul> -->



                <!-- <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</p> -->
            </div>

            <div class="w3-third w3-center">
                <!-- <div class="twitterfeed">
                    <a class="twitter-timeline" href="https://twitter.com/GamesNlp?ref_src=twsrc%5Etfw">Tweets by
                        GamesNlp</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div> -->
            </div>
        </div>
    </div>



    <div id="DALI" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <h1>DALI: Disagreements and Language Interpretation</h1>
            <!-- <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5> -->

            <p class="w3-text-grey2">Natural language expressions are supposed to be unambiguous in context. Yet more
                and more examples of use of expressions that are ambiguous in context, yet felicitous and rhetorically
                unmarked, are emerging. In previous work, we demonstrated that ambiguity in anaphoric reference is
                ubiquitous, through the study of disagreements in annotation, that we pioneered in CL. Since then,
                additional cases of ambiguous anaphoric reference have been found; and similar findings have been made
                for other aspects of language interpretation, including wordsense disambiguation, and even
                part-of-speech tagging. Using the Phrase Detectives Game-With-A-Purpose to collect massive amounts of
                judgments online, we found that up to 30% of anaphoric expressions in our data are ambiguous. These
                findings raise a serious challenge for computational linguistics (CL), as assumptions about the
                existence of a single interpretation in context are built in the dominant methodology, that depends on a
                reliably annotated gold standard.
                <br>
                <br>

                The goal of DALI is to tackle this fundamental issue of disagreements in interpretation by using
                computational methods for collecting and analysing such disagreements, some of which already exist but
                have never before been applied in linguistics on a large scale, some we will develop from scratch. First
                of all, we will develop more advanced games-with-a-purpose to collect massive amounts of data about
                anaphora from people playing a game.
                Secondly, we will use Bayesian models of annotation, widely used in epidemiology but not in linguistics,
                to analyse such data and identify genuine ambiguities; doing this for anaphora will require novel
                methods. Third, we will use these data to revisit current theories about anaphoric expressions that do
                not seem to cause infelicitousness when ambiguous. Finally, we intend to develop the first supervised
                approach to anaphora resolution that does not require a gold standard as a blueprint for other areas.

            </p>
            <h1 class="w3-margin w3-large">Find out more about DALI <a href="https://dali.eecs.qmul.ac.uk/"
                    style="text-decoration: underline;">here</a></h1>
        </div>

    </div>
    </div>
    <!-- Footer -->

    <footer class="footer">
        <div class="footer-logos">
            <a href="https://erc.europa.eu/" target="_blank"><img src="images/logo_EU.png"></a>
            <a href="https://erc.europa.eu/" target="_blank"><img src="images//logo_ERC.png"></a>
            <a href="https://www.qmul.ac.uk/" class="mobile-hidden" target="_blank"><img class="logoQMUL"
                    src="images/logoQMUL_black.png"></a>
            <a href="https://www.essex.ac.uk/" class="mobile-hidden" target="_blank"><img class="logoEssex"
                    src="images/logoEssex_black.png"></a>
        </div>
        <div class="w3-xlarge w3-padding-32">
            <a class="fa fa-facebook-official w3-hover-opacity" href="https://www.facebook.com/gamesandnlp"></a>
            <!-- <a class="fa fa-instagram w3-hover-opacity" href=""></a> -->
            <a class="fa fa-twitter w3-hover-opacity" href="https://twitter.com/GamesNlp"></a>
            <!-- <i class="fa fa-linkedin w3-hover-opacity"></i> -->
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="/js/homepage.js"></script>
</body>

</html>
