body{ background: #FFFFFF; }

.w3-jumbo{ font-size: 150px; filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.568)); font-family: 'Mouse Memoirs'; background-image: linear-gradient(0deg, #ffa006, #ffd156); -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent; -webkit-background-clip: text; -moz-background-clip: text; }

@media (max-width:992px) {
    .lingobanner-text-wrapper:not(.minimised) .w3-jumbo{ font-size: 12vh; }
}

@media (max-width:600px) {
    .w3-jumbo{ font-size: 12vh; }
}