@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #c7c5ef, #96b5ec, #4379d3, #4354d0);
  background-size: 200% 200%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}


@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #26384E;
  transform: translateY(20px);
  transition: all 0.4s ease;
  transition-delay: 0.2s;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: -10%;
  margin-left: -30%;
}
@media screen and (max-width: 1500px) {
  h1 {font-size: 13px; margin-bottom: -13%;

  }
}

@media screen and (min-width: 375px) and (max-width : 1024px) {
  h1 {font-size: 24px; margin-top: 15%;

  }
}

p {
  font-size: 12px;
  line-height: 20px;
  color: black;
  transform: translateY(20px);
  transition: all 0.4s ease;
  transition-delay: 0.3s;
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5%;
}

@media screen and (max-width: 1500px) {
  p {
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (min-width: 375px) and (max-width : 1024px) {
  p {
    font-size: 25px;
    line-height: 35px;
  }
}
#maintitle {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  margin-top: -9vw;
  z-index: 999;
  filter: drop-shadow(0px 0px 13px black);
  font-family: 'Mouse Memoirs';
  background-image: linear-gradient(0deg, #ffa006, #ffd156);
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  pointer-events: none;
  padding-top: 20%;
  padding-bottom: 20%;
}

@media screen and (max-width : 1500px){
  #maintitle { top: 30%; font-size: 6vw; transform: translate(-50%, -50%);
  }
}

@media screen and (min-width : 375px) and (max-width: 1000px){
  #maintitle { top: 11%; font-size: 11vw;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 30px 30px 30px 30px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.233);
  margin-top: -5%;
}
@media screen and (max-width: 1500px) {
  .swiper-wrapper {margin-top: -5%;
  }
}

@media screen and (min-width: 375px) and (max-width : 1024px){
  .swiper-wrapper {margin-top: 10%;
  }
}

.swiper-container {
  background: #f2f6ff;
  width: 100%;
  position: relative;
  border-radius: 30px 30px 30px 30px;
  max-width: 750px;
  height: 100%;
  max-height: 750px;
  border-radius: 10px;
  /* align-items: center; */
  
}

@media screen and (max-width: 1500px) {
  .swiper-container { max-width: 530px; max-height: 530px;
  }
}

@media screen and (min-width: 375px) and (max-width : 1024px){
  .swiper-container { max-width: 1000px; max-height: 1900px;
  }
}


.gameanimation{
height: 100%;
width: 100%;
display: inline-block;


}
.slider-image-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 999;
  
}

@media screen and (min-width: 375px) and (max-width : 1024px){
  .pagewrapper {margin-top: -45%;
  }
}

.animation-player {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 999;
  
}

@media screen and (min-width: 375px) and (max-width : 1024px){
  .animation-player { width: 100%; height: 250%; transform: scale(1.5);
  }
}

.typewriter {
  margin-top: 0%;
  align-items: center;
  overflow: visible;


}

@media screen and (min-width: 375px) and (max-width : 1024px) {
  .typewriter{ margin-top: -50%; margin-bottom: 20%;

 }
}

.slider-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 0;
  background: linear-gradient(270deg, #f7f9ff 0%, #f2f6ff 100%);
  
}

@media screen and (min-width: 375px) and (max-width : 1024px) {
  .slider-item {overflow: visible;
  }
}

.slider-item-content {
  width: 70%;
  height: 30%;
  padding: 1% 5% 5% 18%;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  background-color:rgb(243, 243, 243);
  margin-top: -27%;
  z-index: 999;
  /* display: none; */
  animation: bottom2top 4s forwards;
  /* animation-delay: 1s; */
}
@media screen and (max-width: 1000px) {
  .slider-item-content { width: 100%; padding: 10% 10% 10% 30%;
  }
}

@media screen and (min-width: 375px) and (max-width : 1024px) {
  .slider-item-content { width: 100%; height: 30%; margin-bottom: -15%; z-index: 9999; overflow: visible; margin-top: -35%;
  }
}

@keyframes bottom2top {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  70% { opacity: 0;
    transform: translateY(100%);
  }
  100% { opacity: 1 
  }

}


.slider-item-content > * {
  opacity: 0;
  transform: translateY(20px);
}

.swiper-slide-active .slider-item-content > * {
  transform: translateY(0px);
  opacity: 1;
}

.slider-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translatex(-50%);
  z-index: 1;
  width: auto !important;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: #96b5ec;
  display: inline-block;
  margin-right: 8px;
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
  background: #4354d0;
  width: 20px;
  border-radius: 10px;
}

.slider-buttons {
  position: absolute;
  display: flex;
  top: 100%;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px;
  z-index: 1;
  margin-left: -18%;
  animation: bottom2top 4s forwards;
}

@media screen and (max-width: 1500px) {
  .slider-buttons{ width: 100%; margin-left: -16%;
  }
}

@media screen and (min-width: 375px) and (max-width : 1024px) {
  .slider-buttons {margin-top: 7%; margin-left: -10%;
  }
}

.swiper-button-play {
  background-color: grey;
  border: none;
  cursor: pointer;
  outline: none;
  color: rgb(49, 25, 184);
  position: relative;
  margin-left: 4px;
  
}

.swiper-button-play:before {
  content: "";
  position: absolute;
  background-color: rgb(255, 53, 255);
  height: 1px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.2s;
}

.swiper-button-play:hover:before {
  width: 100%;
}



@media screen and (max-width: 520px) {
  .swiper-button-next:hover:before,
.swiper-button-play:hover:before {
    display: none;
  }
}


/* CSS */
.swiper-button-next{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #5f5f5f;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word; 
}

.swiper-button-next.active-animation {
  animation: pulse-blue 3s infinite;
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(67,84,208,1);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
}

.swiper-button-next:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.swiper-button-next:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.swiper-button-next:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.swiper-button-next:focus {
  outline: 1px transparent;
}

.swiper-button-next:before {
  display: none;
}

.swiper-button-next:-webkit-details-marker {
  display: none;
}




.swiper-button-prev{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #5f5f5f;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word; 
  margin-right: 50%;
  transform: rotate(180deg);
}

@media screen and (max-width: 1500px) {
  .swiper-button-next {font-size: 12px; 
  }
}
@media screen and (max-width: 1500px) {
  .swiper-button-prev {font-size: 12px; 
  }
}

@media screen and (min-width: 375px) and (max-width : 1024px) {
  .swiper-button-prev {font-size: 50px; padding: 5%; 
  }
}

@media screen and (min-width: 375px) and (max-width : 1024px) {
  .swiper-button-next {font-size: 50px; padding: 5%; 
  }
}

.swiper-button-prev:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.swiper-button-prev:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.swiper-button-prev:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.swiper-button-prev:focus {
  outline: 1px transparent;
}

.swiper-button-prev:before {
  display: none;
}

.swiper-button-prev:-webkit-details-marker {
  display: none;
}



/* CSS */
.swiper-button-play{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  z-index: 2;
  margin-top: 5%;
  
}

.swiper-button-play:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.swiper-button-play:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.swiper-button-play:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.swiper-button-play:focus {
  outline: 1px transparent;
}

.swiper-button-play:before {
  display: none;
}

.swiper-button-play:-webkit-details-marker {
  display: none;
}

.nobutton {
cursor: pointer;
appearance: none;
background-color: #FAFBFC;
border: 1px solid rgba(27, 31, 35, 0.15);
border-radius: 6px;
box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
box-sizing: border-box;
color: #24292E;
display: inline-block;
font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
font-size: 14px;
font-weight: 500;
line-height: 20px;
list-style: none;
padding: 6px 16px;
position: relative;
transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
word-wrap: break-word;


}

.nobutton:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.yesbutton {
  cursor: pointer;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-left: 15%;
  
  }
  
  .yesbutton:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }

.swiper-button-disabled {
  opacity: 0;
}

.yes {
  display: inline-block;
}

.no {
  display: inline-block;
}

.dialogueanswer {
z-index: 999;
margin-top: -10%;
/* padding-bottom: 9%; */
/* padding-bottom: 10px; */

}

/* @media screen and (min-width: 375px) and (max-width : 1024px) {
  .dialogueanswer {z-index: 999999; margin-bottom: -90%; margin-top: 20%; padding-bottom: 0%; transform: scale(2.5);
  }
} */

@media screen and (max-width: 1500px) {
  .dialogueanswer {margin-top: -8%; transform: scale(0.7)
  }
}

@media screen and (min-width: 375px) and (max-width : 1024px){
  .dialogueanswer {z-index: 999999; margin-bottom: -90%; margin-top: 5%; padding-bottom: 0%; transform: scale(2.5);
  }
}

.gamewrapper {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 30px 30px 30px 30px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.233);
}



.playbutton {
  z-index: 9999;
  cursor: pointer;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  /* display: inline-block; */
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 34px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 30px 66px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  vertical-align: middle;
  /* margin-bottom: -800px; */
  /* margin-right: 100%; */
  margin-left: 40%;
  margin-top: -180%;
  animation: fadein 20s;
  }


  @keyframes fadein {
    0% { opacity: 0; }
    90%   { opacity: 0; }
    100%   { opacity: 1; }
}
  
  .playbutton:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .slider-item-content-tutorial {
    width: 100%;
    height: 70%;
    padding: 1% 5% 5% 18%;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
    background-color:rgb(243, 243, 243);
    margin-top: 0%;
  }

  .slider-image-wrapper-tutorial {
    height: 50%;
    width: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-top: 40%;
  }

  .charactalk {
    height: 50%;
    width: 50%;
    margin-top: -20%;
    z-index: -2;
  }




  .swiper-button-next-tutorial{
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-left: 80%;
  
    
  }
  
  .swiper-button-next-tutorial:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .swiper-button-next-tutorial:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .swiper-button-next-tutorial:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .swiper-button-next-tutorial:focus {
    outline: 1px transparent;
  }
  
  .swiper-button-next-tutorial:before {
    display: none;
  }
  
  .swiper-button-next-tutorial:-webkit-details-marker {
    display: none;
  }

  .tutorial1 {
    width: 100%;
    margin-left: 50%;
    padding: 0;
    height: 100%;
    justify-content: center;

  }

  .tutorial2 {
    width: 100%;
    margin-left: 50%;
    padding: 0;
    height: 100%;
    justify-content: center;

  }

  .closeup-charac {
    width: 100%;
    margin-left: -40%;
    margin-bottom: -60%;
    padding: 0;
    height: 100%;
    justify-content: center;
    z-index: 99999;

  }

  @media screen and (max-width: 1000px) {
    .closeup-charac{ width: 100%; margin: -40%; margin-top: 10%; height: 300%;
    }
  }

  @media screen and (max-width: 1500px) {
    .closeup-charac{ width: 100%; margin-right: -40%; margin-bottom: -80%; height: 200%;
    }
  }

  @media screen and (min-width: 375px) and (max-width : 1024px) {
    .closeup-charac {margin-bottom: -5%;
    }
  }

  .replay-icon {
    /* padding-bottom: 20%; */
    /* margin-bottom: -5%; */
    /* cursor: pointer;
    cursor:hand;
    /* position: relative; */
    /* display: inline; */
    /* display: block; */
    opacity: 0%;
    z-index: 99999;
    /* padding-bottom: -10%; */
    /* margin-top: -50%; */
    /* margin-left: -20%; */
    /* margin: auto 10px; */
    cursor: pointer;
    justify-content: center;
    position: absolute;
    display: flex;
    /* top: 95%; */
    justify-content: flex-end;
    /* height: 100%; */
    width: 100%;
    padding-top: 8px;
    right: 8%;
    /* margin-left: -45%; */
    bottom: 85%;



  }

  .replay-icon.active-animation {
    animation: top2bottom 1s forwards;
  }
  
  @keyframes top2bottom {
    from { opacity: 0;}
    to { opacity: 1;}
  }

  /* a:hover {
    color: #fff;
    background-color: green;
  } */

  .replay-button {

    cursor: pointer;
    cursor: hand;
    /* position: fixed; */
    z-index: 999999;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 10px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 3px 8px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    filter: grayscale(100%);
    opacity: 80%;

  }
  
  .replay-button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
    filter: grayscale(5%);
    opacity: 100%;
  }

   /* .player1 {
     z-index: 9999;




  } */


