<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LingoTowns Story</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
      <style>
      body {
        font-family: "Nunito", sans-serif;
      }
      </style>
      
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2.2.2/dist/flickity.css"
    />
    <link rel="stylesheet" href="/story-text/style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
  <div class="screenbig">
    <div style="margin-top: -50px; width: 400px;">
      <div class="maintitle">
         <h2 style="color: black; ; padding: 10%; text-align: center;"> Getting Started</h2>
          <h1 style="color: black; margin-top: -50px ; text-align:center; "> Story</h1></div></div>
    <div class="screen">
      <div class="carousel">
        <div class="page sky">
          
          
          
          <div class="bubble-full">
            
            <h4 style="color: black; text-align: center; padding: 2%; line-height:1.8em; padding-left: 5%; padding-right: 5%;">In the early 21st century the cataloguing of history reached its peak, only to be later forgotten as numerous civilisations came and went. The desire to learn from the past ebbed and previously globally connected cultures became isolated.</h4>
          </div>
        </div>
        <div class="page sky">
          
          <div class="bubble-full">
            
            <h4 style="color: black; text-align: center; padding: 2%; line-height:1.8em; padding-left: 5%; padding-right: 5%;">Surviving documents from the 21st century had been unearthed in every town and city and the future humans believed these documents would teach them their shared history and help unite them in their understanding of their present.</h4>
          </div>
        </div>
        <div class="page sky">
          
          <div class="bubble-full">
            
            <h4 style="color: black; text-align: center; padding: 5%; line-height:1.8em; padding-left: 5%; padding-right: 5%;">Unfortunately over the millenia language had changed and neither they nor their machines were able to understand them.</h4>
          </div>
        </div>
        <div class="page sky">
          <div class="bubble-full">
            
            <h4 style="color: black; text-align: center; padding: 2%; line-height:1.8em; padding-left: 5%; padding-right: 5%;">In a daring experiment a group of future scientists have transported you and a few others into their present, in the hope that you will teach them the final elements of 21st century language they can't yet grasp, restarting progress for their civilisation.</h4>
          </div>
        
        </div>
        <div class="page sky">
          <div class="bubble-full">
            
            <h4 style="color: black; text-align: center; padding: 2%; line-height:1.8em; padding-left: 5%; padding-right: 5%;">You will travel the future earth to work on these documents in the towns where you will find them, using the knowledge within them to grow crops, feed their inhabitants and elevate learning to unite their world in a shared understanding of its past.</h4>
            <a href="Link" class="button6" style="margin-left: 300px; margin-top: -200px; margin-bottom: -30px;">Play</a>
          </div>
        </div>
        
      
    </div>
  </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
    <script src="/story-text/script.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
  </body>
</html>
