<!DOCTYPE html>
<html lang="en">

<head>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <title>Onboarding</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/css/story-text.css">
  <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">

</head>

<body>
  <div id="maintitle">LingoTowns</div>
    <div class="title">
       <h2 > The story</h2></div>
  <div id="Page1">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="slider-item swiper-slide">
          <div class="slider-image-wrapper">

          </div>
          <div class="slider-item-content">
            <span>
              <p>In the early 21st century the cataloguing of history reached its peak, only to be later forgotten as numerous civilisations came and went. The desire to learn from the past faded away and previously globally connected cultures became isolated. Surviving documents from the 21st century had been unearthed in every town and city and the future humans believed these documents would teach them their shared history and help unite them in their understanding of their present.</p>
            </span>
          </div>
        </div>
        <div class="slider-item swiper-slide">
          <div class="slider-image-wrapper">

          </div>
          <div class="slider-item-content">
            <p>Unfortunately over the millenia, language had changed and neither they nor their machines were able to understand them. In a daring experiment a group of future scientists have transported you and a few others into their present, in the hope that you will teach them the final elements of 21st century language they can't yet grasp, to allow their civilisation to progress</p>
          </div>
        </div>
        <div class="slider-item swiper-slide">
          <div class="slider-image-wrapper">


          </div>
          <div class="slider-item-content">
            <p>You will travel the future earth to work on these documents in the towns where you will find them, using the knowledge gained from the documents you will learn to grow crops, feed their inhabitants and elevate learning to unite their world in a shared understanding of its past.</p>
          </div>

          <div class="dialogueanswer">
            <a onclick="window.location.href='game-text'" class="button6"> Play </a>
          </div>
        </div>

        <div class="slider-buttons">

          <div class="slider-buttons">
            <button id="swiper-button-prev" class="swiper-button-prev"> &#10142; </button>
            <button id="swiper-button-next" class="swiper-button-next"> &#10142; </button>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js'></script>
    <script src="/js/story-text.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>

</body>

</html>
